<section class="text-center m-5">
    <h1 class="text-center" >Welcome To Basic Rails 6 Auth</h1>
    <p>Rails 6 auth using devise</p>
    <% if current_user %>
        <h5><%= current_user.email %></h5>
    <%end%>

</section>